*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu, #menu-list{
    margin: 0;
    padding: 0;
}

#menu-list{
    width: 300px;
    display: flex;
    position:relative;
    justify-content: space-around;
}

ul,li,a{
    text-decoration: none;
    list-style-type: none;
    color: white;

}


main{
     color: black;
     flex-grow: 1;
}  
/* -------------------------------------------------------- */
/* Estilos para telas menores (responsivo) */
@media screen and (max-width: 768px) {
  #menu-list {
    display: none; /* Oculta o menu por padrão */
    flex-direction: column;
    width: auto;
  }
    /* Oculta o <a> quando o menu está expandido */
  #menu-list.show + a {
    display: none;
  }

  #menu-toggle {
    display: block; /* Mostra o botão hamburguer */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  /* Estilos para quando o menu é exibido após clicar no botão */
  #menu-list.show {
    display: flex;
    font-size: 20px; /* Aumenta o tamanho da fonte */
    height: 200px; /* Aumenta a altura do menu */
  }
}
/* ------------------------------------------------------------------ */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
