main{
    position: relative; /* Estabelece um contexto de posicionamento */
    /* width: 100vw;
    height: 100vh; Ajuste a altura conforme necessário */
}

#social {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.social-btn{
    width: 100px;
    height: 100px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 25px;
    box-shadow: 20px 20px 50px gray;
    margin: 50px;
}
