#social
{
    display: flex;
    flex-direction: column; /* Alinha verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 60vh; /* Certifique-se de que o contêiner pai ocupe toda a altura da viewport */
}

#social-box{
    padding-left: 5vw;
}

.social-btn{
    width: 100px;
    height: 100px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 25px;
    margin-bottom: 20px;
}